.socially-distanced-square,
.quarantined-square,
.person-shadow {
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
}

.socially-distanced-square {
  border: 3px dashed #595959;
  z-index: 10;
}

.quarantined-square {
  border: 3px ridge #4c0000;
  z-index: 10;
}

.person-shadow {
  border-radius: 50%;
  content: "";
  box-shadow: #0000009c 4px 3px 6px 0px;
  z-index: 4;
}
